.nav-button {
  background-color: black;
  color: white;

  &:hover {
    cursor: pointer;
    background-color: gray;
  }

  &:disabled {
    background-color: white;
    color: gray;
    cursor: auto;
  }

  transition: all 0.3s;
}
